#fxid_paneChangePass {
    -fx-background-color: white;
}

#fxid_admin_username_field_changepass, #fxid_username_field_changepass, #fxid_admin_password_field_changepass, #fxid_password_field_changepass {
    -fx-font-size: 13px;
}

#fxid_change_button {
    -fx-background-color: #1F8FE8;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-cursor: hand;
}