#fxid_leftPane {
    -fx-background-color: white;
}

#fxid_mainPane {
    -fx-background-color: rgb(255, 255, 255);
}

#fxid_paneA, #fxid_paneB, #fxid_paneC, #fxid_paneD, #fxid_paneE, #fxid_logoutElement {
    -fx-cursor: hand;
}

#fxid_paneA:hover, #fxid_paneB:hover, #fxid_paneC:hover, #fxid_paneD:hover, #fxid_paneE:hover, #fxid_logoutElement:hover {
    -fx-background-color: rgb(255, 255, 255);
    -fx-translate-x: 5;
}