#fxid_warnChat {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #ff0000;
    -fx-background-color: white;
}

#fxid_sendMesagePane {
    -fx-background-color: linear-gradient(transparent, lightblue);
    -fx-background-insets: 0, 0 0 10 0;
}

#fxid_sendMessagePane {
    -fx-background-color: rgb(235, 234, 234);
}